@charset "UTF-8";
html, body, ul, li, ol, dl, dd, dt, p, h1, h2, h3, h4, h5, h6, form, fieldset, legend, img, input, figure {
  margin: 0;
  padding: 0; }

/* *{box-sizing:border-box;} */
body {
  font-family: '微软雅黑'; }

h1, h2, h3, h4, h5, h6 {
  font-size: 16px;
  font-weight: normal; }

ul, ol, li {
  list-style: none; }

a, u {
  text-decoration: none; }

b, strong {
  font-weight: normal; }

em, i {
  font-style: normal; }

img {
  border: 0;
  display: block; }

.clear_fix:after {
  content: '.';
  clear: both;
  height: 0;
  overflow: hidden;
  display: block;
  visibility: hidden; }

.clear_fix {
  zoom: 1; }

.top-con, .logo-con, .nav-con, .bannerBottom-con, .wrap-con, .pubu-con, .wendu-con, .newhand-con, .footer-con, .fada-con, .login-con, .registe-con {
  width: 1200px;
  margin: 0 auto; }

.top-con > div {
  float: left; }

.top-con {
  border-bottom: 1px solid #e5e5e5;
  height: 30px; }
  .top-con .left {
    width: 195px;
    height: 30px;
    margin-right: 20px;
    color: #3e4141;
    line-height: 30px;
    font-size: 12px; }
    .top-con .left a {
      color: #ff6900;
      margin: 0 0 0 5px;
      line-height: 30px;
      display: inline-block;
      height: 12px;
      width: 36px; }
    .top-con .left a:last-child {
      width: 60px; }
    .top-con .left a:hover {
      text-decoration: underline; }
  .top-con .center {
    background: url(../images/q3.png) 0 -43px no-repeat;
    padding-left: 34px; }
    .top-con .center a {
      font-size: 12px;
      color: #3e4141;
      display: block;
      text-align: left;
      width: 79px;
      height: 22px;
      line-height: 22px;
      padding-left: 6px;
      text-decoration: none;
      float: left;
      border: 1px solid #eeeee7;
      background: url(../images/q3.png) 70px 8px no-repeat #fff;
      margin-top: 3px; }
      .top-con .center a span {
        width: 24px;
        display: inline-block;
        margin-left: 5px; }
    .top-con .center a:hover {
      border: 1px solid #659934; }
  .top-con .right {
    float: right;
    width: 349px;
    height: 30px; }
    .top-con .right ul {
      vertical-align: middle;
      text-align: center; }
      .top-con .right ul li {
        float: left;
        color: #3e4141;
        font-size: 12px;
        line-height: 30px;
        height: 30px;
        width: 78px;
        height: 30px; }
        .top-con .right ul li a {
          color: #3e4141; }
      .top-con .right ul li:nth-of-type(1) a:hover {
        color: #ff6900;
        text-decoration: underline; }
      .top-con .right ul li:nth-of-type(2) a:hover {
        color: #ff6900;
        text-decoration: underline; }
      .top-con .right ul i {
        width: 1px;
        height: 15px;
        display: block;
        background: #e6e6e6;
        float: left;
        margin-top: 8px; }
      .top-con .right ul .ulli3 {
        width: 101px;
        position: relative; }
        .top-con .right ul .ulli3 a {
          width: 71px;
          padding: 0 0 0 18px;
          background: url(../images/q4.gif) 11px 4px no-repeat;
          display: block;
          line-height: 30px; }
        .top-con .right ul .ulli3 > div {
          position: absolute;
          z-index: 100;
          top: 0px;
          left: 1px;
          box-shadow: 1px 1px 6px rgba(192, 192, 192, 0.5);
          background: #fff;
          display: none; }
          .top-con .right ul .ulli3 > div .top {
            cursor: pointer; }
            .top-con .right ul .ulli3 > div .top p:nth-child(1) {
              float: left;
              width: 27px;
              height: 30px;
              background: url(../images/q6.png) 9px 3px no-repeat; }
            .top-con .right ul .ulli3 > div .top p:nth-child(2) {
              width: 50px;
              height: 30px;
              float: left; }
            .top-con .right ul .ulli3 > div .top p:nth-child(3) {
              float: left;
              width: 23px;
              height: 30px;
              background: url(../images/q3.png) 3px -12px no-repeat; }
          .top-con .right ul .ulli3 > div .bottom img {
            width: 95px;
            margin-top: 14px;
            margin-left: 6px; }
          .top-con .right ul .ulli3 > div .bottom p {
            margin-left: 6px; }
      .top-con .right ul li:nth-of-type(4) {
        cursor: pointer;
        position: relative;
        width: 87px;
        background: url(../images/q3.png) 70px 14px; }
        .top-con .right ul li:nth-of-type(4) div {
          width: 79px;
          position: absolute;
          top: 0px;
          left: -1px;
          padding: 0 4px 7px;
          background-color: #fff;
          box-shadow: 1px 1px 6px rgba(192, 192, 192, 0.5);
          z-index: 78;
          border-left: 1px solid #e8e8e8;
          border-right: 1px solid #e8e8e8;
          border-bottom: 1px solid #e8e8e8;
          display: none; }
          .top-con .right ul li:nth-of-type(4) div h2 {
            font-size: 12px;
            background: url(../images/q3.png) 66px -12px no-repeat; }
          .top-con .right ul li:nth-of-type(4) div a {
            display: block;
            width: 79px;
            height: 22px;
            font-size: 12px;
            line-height: 22px; }

.zhezhao {
  display: block;
  position: absolute;
  top: 0%;
  left: 0%;
  background-color: black;
  z-index: 9000;
  opacity: 0.5; }

.zhezhaoCenter {
  z-index: 9998;
  position: fixed;
  top: 50%;
  left: 50%;
  margin-left: -400px !important;
  margin-top: -200px !important;
  width: 740px;
  background: #fff;
  border-radius: 4px;
  display: none; }
  .zhezhaoCenter .closeCity {
    position: absolute;
    z-index: 99;
    right: 15px;
    top: 15px; }
    .zhezhaoCenter .closeCity a {
      width: 20px;
      height: 20px;
      display: block;
      background: url(../images/q7.png) 0 -29px no-repeat; }
    .zhezhaoCenter .closeCity a:hover {
      color: yellowgreen;
      text-decoration: underline; }
  .zhezhaoCenter .top {
    width: 100%;
    height: 62px;
    padding: 17px 10px; }
    .zhezhaoCenter .top p {
      float: left;
      color: #111;
      font: 400 14px/28px "Microsoft YaHei"; }
    .zhezhaoCenter .top a {
      float: left;
      font: 400 16px/28px "Microsoft YaHei";
      color: #fff;
      margin: 0 20px 0 5px;
      padding: 0 20px;
      display: block;
      border-radius: 2px;
      background-color: #fd8a26; }
    .zhezhaoCenter .top a:hover {
      color: yellowgreen;
      text-decoration: underline; }
  .zhezhaoCenter .hot {
    width: 740px;
    height: 60px;
    background-color: #fff8f2;
    padding: 10px 0; }
    .zhezhaoCenter .hot dt {
      float: left;
      font: 400 14px/30px "Microsoft YaHei";
      color: #111;
      padding-left: 10px; }
    .zhezhaoCenter .hot dd {
      float: right;
      width: 650px; }
      .zhezhaoCenter .hot dd em {
        float: left;
        max-width: 400px;
        margin: 0 15px; }
        .zhezhaoCenter .hot dd em a {
          font: 400 14px/30px "Microsoft YaHei";
          outline: 0;
          cursor: pointer;
          color: #111; }
        .zhezhaoCenter .hot dd em a:hover {
          color: yellowgreen;
          text-decoration: underline; }
  .zhezhaoCenter .center {
    width: 740px;
    padding: 10px 0; }
    .zhezhaoCenter .center dt {
      float: left;
      width: 70px;
      padding-left: 10px;
      font: 400 14px/22px "Microsoft YaHei";
      color: #111;
      margin-top: 5px; }
    .zhezhaoCenter .center dd {
      float: right;
      width: 660px;
      margin-top: 5px; }
      .zhezhaoCenter .center dd a {
        float: left;
        width: 80px;
        text-align: center;
        font: 400 14px/22px "Microsoft YaHei";
        color: #111;
        display: block; }
      .zhezhaoCenter .center dd a:hover {
        color: yellowgreen;
        text-decoration: underline; }
  .zhezhaoCenter .bottom {
    width: 740px;
    border-top: 1px solid #f2f2f2;
    padding-bottom: 20px; }
    .zhezhaoCenter .bottom dt {
      float: left;
      padding-left: 10px;
      font: 400 14px/42px "Microsoft YaHei";
      color: #111; }
    .zhezhaoCenter .bottom dd:nth-of-type(1) {
      float: right;
      width: 650px; }
      .zhezhaoCenter .bottom dd:nth-of-type(1) a {
        float: left;
        width: 24px;
        text-align: center;
        font: 400 14px/42px "Microsoft YaHei";
        color: #111;
        display: block; }
      .zhezhaoCenter .bottom dd:nth-of-type(1) a:hover {
        color: yellowgreen;
        text-decoration: underline; }
    .zhezhaoCenter .bottom dd:nth-of-type(2) {
      float: right;
      width: 635px !important;
      background-color: #fff8f2;
      margin: 0 20px 0 0 !important;
      padding: 7px 0; }
  .zhezhaoCenter a:hover {
    color: yellowgreen;
    text-decoration: underline; }

.bankImg {
  width: 100%;
  height: 60px;
  text-align: center;
  position: relative; }
  .bankImg a:nth-child(1) {
    position: absolute;
    top: 0;
    left: 0;
    background: url(../images/q8.jpg) center top no-repeat;
    display: block;
    width: 100%;
    height: 60px; }
  .bankImg a:nth-child(2) {
    position: absolute;
    top: 0;
    left: 0;
    background: url(../images/q9.jpg) center top no-repeat;
    display: block;
    width: 100%;
    height: 60px; }
  .bankImg a:nth-child(3) {
    position: absolute;
    top: 0;
    left: 0;
    background: url(../images/q10.jpg) center top no-repeat;
    display: block;
    width: 100%;
    height: 60px; }
  .bankImg a:nth-child(4) {
    position: absolute;
    top: 0;
    left: 0;
    background: url(../images/q11.jpg) center top no-repeat;
    display: block;
    width: 100%;
    height: 60px; }
  .bankImg a:nth-child(5) {
    position: absolute;
    top: 0;
    left: 0;
    background: url(../images/q12.jpg) center top no-repeat;
    display: block;
    width: 100%;
    height: 60px; }
  .bankImg a:nth-child(6) {
    position: absolute;
    top: 0;
    left: 0;
    background: url(../images/q13.jpg) center top no-repeat;
    display: block;
    width: 100%;
    height: 60px; }
  .bankImg a:nth-child(7) {
    position: absolute;
    top: 0;
    left: 0;
    background: url(../images/q14.jpg) center top no-repeat;
    display: block;
    width: 100%;
    height: 60px; }
  .bankImg a:nth-child(8) {
    position: absolute;
    top: 0;
    left: 0;
    background: url(../images/q15.jpg) center top no-repeat;
    display: block;
    width: 100%;
    height: 60px; }
  .bankImg a:nth-child(9) {
    position: absolute;
    top: 0;
    left: 0;
    background: url(../images/q16.jpg) center top no-repeat;
    display: block;
    width: 100%;
    height: 60px; }
  .bankImg a.active {
    z-index: 10; }

.logo-con {
  height: 72px;
  padding: 10px 0 20px; }
  .logo-con > a {
    float: left; }
  .logo-con .gouwuche {
    margin-top: 38px;
    float: right;
    position: relative; }
    .logo-con .gouwuche dt {
      position: relative; }
      .logo-con .gouwuche dt div {
        background: url(../images/q3.png) 0 -194px no-repeat;
        height: 23px;
        width: 37px;
        position: absolute;
        top: -16px;
        left: 21px;
        font: 400 14px/19px "微软雅黑";
        color: #fff;
        text-align: center;
        z-index: 68; }
      .logo-con .gouwuche dt a {
        display: block;
        background: url(../images/q3.png) 98px 17px no-repeat #f8f8f6;
        font: 400 14px/38px "微软雅黑";
        color: #3e4141;
        padding-right: 35px;
        text-decoration: none;
        height: 41px; }
        .logo-con .gouwuche dt a i:nth-of-type(1) {
          background: url(../images/q3.png) 0 -158px no-repeat;
          width: 21px;
          height: 16px;
          display: inline-block;
          margin: 12px 13px 0 12px;
          float: left; }
      .logo-con .gouwuche dt p {
        border: 1px solid #e5e5e5;
        background-color: #fff;
        box-shadow: 1px 1px 6px rgba(192, 192, 192, 0.5);
        padding: 0 15px 18px;
        position: absolute;
        top: 41px;
        right: -1px;
        z-index: 66;
        width: 333px;
        display: none; }
        .logo-con .gouwuche dt p span {
          display: block;
          text-align: center;
          padding: 28px 0 10px;
          font-family: "宋体","Arial Narrow",HELVETICA;
          font-size: 12px;
          color: #333; }
    .logo-con .gouwuche dt:hover p {
      display: block; }
    .logo-con .gouwuche dt:hover a {
      background: url(../images/q3.png) 98px -8px no-repeat #fff;
      box-shadow: 1px 1px 6px rgba(192, 192, 192, 0.5); }
    .logo-con .gouwuche dt:hover .carBg {
      position: absolute;
      right: 0;
      top: 38px;
      display: block;
      height: 10px;
      width: 123px;
      background: #fff;
      z-index: 100; }
  .logo-con .myBen {
    float: right;
    margin-right: 20px;
    position: relative;
    margin-top: 38px; }
    .logo-con .myBen .canSee {
      width: 123px;
      height: 41px; }
      .logo-con .myBen .canSee > a {
        display: block;
        background: url(../images/q3.png) 98px 17px no-repeat #f8f8f6;
        font: 400 14px/38px "微软雅黑";
        color: #3e4141;
        padding-right: 31px;
        text-decoration: none;
        height: 41px; }
        .logo-con .myBen .canSee > a i:nth-of-type(1) {
          background: url(../images/q3.png) 0 -121px no-repeat;
          width: 16px;
          height: 17px;
          display: inline-block;
          margin: 12px 9px 0 11px;
          float: left; }
      .logo-con .myBen .canSee .noSee {
        box-shadow: 1px 1px 6px rgba(192, 192, 192, 0.5);
        width: 290px;
        height: 270px;
        position: absolute;
        z-index: 10;
        top: 41px;
        left: -197px;
        padding: 0 15px;
        display: none;
        background: #fff; }
        .logo-con .myBen .canSee .noSee > p {
          height: 48px;
          padding-left: 15px;
          color: #333;
          font-size: 12px;
          border-bottom: 1px solid #e8e8e8;
          width: 288px;
          font-weight: 900;
          line-height: 48px; }
          .logo-con .myBen .canSee .noSee > p a {
            color: #ff852f;
            font-size: 12px;
            font-weight: 900; }
        .logo-con .myBen .canSee .noSee div {
          width: 100%;
          padding: 0 15px; }
          .logo-con .myBen .canSee .noSee div p {
            float: left;
            width: 50%;
            font-size: 12px;
            line-height: 35px; }
            .logo-con .myBen .canSee .noSee div p a {
              font-family: 400 14px/34px "Microsoft YaHei";
              font-size: 12px;
              color: #777;
              font-weight: bolder; }
        .logo-con .myBen .canSee .noSee a:hover {
          color: #ff852f;
          text-decoration: underline; }
    .logo-con .myBen .canSee:hover .noSee {
      display: block; }
    .logo-con .myBen .canSee:hover .myBenBg {
      position: absolute;
      right: 0;
      top: 38px;
      display: block;
      height: 10px;
      width: 123px;
      background: #fff;
      z-index: 100; }
    .logo-con .myBen .canSee:hover .myBenA {
      background: url(../images/q3.png) 98px -8px no-repeat #fff;
      box-shadow: 1px 1px 6px rgba(192, 192, 192, 0.5); }
  .logo-con .search {
    float: right;
    margin-right: 45px;
    width: 470px; }
    .logo-con .search p {
      margin-bottom: 10px; }
      .logo-con .search p a {
        font-size: 12px;
        color: #8c8c8c;
        margin-right: 22px; }
      .logo-con .search p a:hover {
        color: #fd8a26;
        text-decoration: underline; }
    .logo-con .search .searchBox {
      width: 464px;
      height: 35px;
      background: #91be16;
      padding: 3px; }
      .logo-con .search .searchBox input {
        width: 367px;
        height: 35px;
        border: 0;
        padding: 0 10px;
        float: left;
        font: 400 14px/35px "Microsoft YaHei";
        color: #3e4141;
        outline: 0; }
      .logo-con .search .searchBox a {
        height: 35px;
        width: 77px;
        background: url(../images/q3.png) 0 -265px no-repeat;
        display: inline-block; }

.nav {
  height: 44px;
  background: #8ab700; }
  .nav .nav-con {
    position: relative; }
    .nav .nav-con .firstDiv {
      width: 210px;
      height: 44px;
      float: left;
      background: #78a000; }
      .nav .nav-con .firstDiv a {
        width: 100%;
        height: 100%;
        text-align: center;
        display: block;
        font-size: 18px;
        color: #fff;
        line-height: 44px;
        background: url(../images/q3.png) 173px -218px no-repeat; }
    .nav .nav-con .firstDiv ~ a {
      display: inline-block;
      font-size: 18px;
      color: #fff;
      line-height: 44px;
      height: 44px;
      padding: 0 23px;
      position: relative; }
      .nav .nav-con .firstDiv ~ a img {
        position: absolute;
        top: -30%;
        right: 10px;
        z-index: 1; }
    .nav .nav-con .firstDiv ~ a:hover {
      background: #78a000; }

.fada-con .top {
  width: 1200px;
  color: #959595;
  line-height: 40px; }
  .fada-con .top a {
    font-size: 12px;
    color: #959595;
    line-height: 40px; }
  .fada-con .top i {
    font-size: 12px;
    color: #959595;
    line-height: 40px; }

.fada-con .center {
  position: relative; }
  .fada-con .center .left {
    width: 84px;
    float: left;
    height: 502px;
    overflow: hidden; }
    .fada-con .center .left .btn_top {
      width: 82px;
      height: 15px;
      text-align: center;
      border: 1px solid #c9c9c9;
      background: url(../images/xq4.png) 33px 5px no-repeat;
      display: block; }
    .fada-con .center .left .btn_top:hover {
      border: 1px solid #8ab800; }
    .fada-con .center .left .imgBox {
      width: 84px;
      height: 460px;
      margin-top: 8px; }
      .fada-con .center .left .imgBox a {
        border: 1px solid #c9c9c9;
        display: block;
        margin-bottom: 8px; }
        .fada-con .center .left .imgBox a img {
          width: 82px;
          height: 82px; }
      .fada-con .center .left .imgBox a.active {
        border: 1px solid #8ab800; }
      .fada-con .center .left .imgBox a:hover {
        border: 1px solid #8ab800; }
    .fada-con .center .left .btn_bottom {
      width: 82px;
      height: 15px;
      float: left;
      text-align: center;
      border: 1px solid #c9c9c9;
      background: url(../images/xq4.png) 33px -21px no-repeat; }
    .fada-con .center .left .btn_bottom:hover {
      border: 1px solid #8ab800; }
  .fada-con .center .middle {
    float: left;
    width: 500px;
    height: 500px;
    border: 1px solid #c9c9c9;
    overflow: hidden;
    margin-left: 10px;
    position: relative; }
    .fada-con .center .middle img {
      width: 100%;
      height: 100%;
      display: none; }
    .fada-con .center .middle img.active {
      display: block; }
    .fada-con .center .middle .zhezhao {
      height: 100%;
      width: 100%;
      position: absolute;
      left: 0;
      top: 0;
      background: #fff;
      opacity: 0;
      z-index: 100; }
    .fada-con .center .middle .fang {
      width: 250px;
      height: 250px;
      visibility: visible;
      top: 0px;
      left: 0px;
      position: absolute;
      z-index: 1;
      border: 1px solid #aaa;
      background: #fff;
      opacity: .5;
      display: none; }
  .fada-con .center .bigImg {
    position: absolute;
    left: 600px;
    width: 500px;
    height: 500px;
    z-index: 30;
    overflow: hidden;
    background: #fff;
    display: none; }
    .fada-con .center .bigImg img {
      display: none;
      position: absolute;
      left: 0;
      top: 0;
      width: 1000px;
      height: 1000px; }
    .fada-con .center .bigImg img.active {
      display: block; }
  .fada-con .center .right {
    width: 570px;
    height: 524px;
    float: left;
    padding-left: 30px;
    position: relative; }
    .fada-con .center .right .none {
      position: absolute;
      top: 163px;
      width: 220px;
      background-color: #fff;
      border: 1px solid #ddd;
      text-align: center;
      padding-bottom: 10px;
      display: none; }
      .fada-con .center .right .none span:nth-of-type(1) {
        background-color: #f4f4f4;
        line-height: 30px;
        color: 12px;
        display: block;
        width: 100%; }
      .fada-con .center .right .none span:nth-of-type(2) {
        line-height: 30px;
        color: 12px;
        font-weight: 600;
        display: block;
        width: 100%; }
      .fada-con .center .right .none img {
        width: 100%;
        height: 100%; }
    .fada-con .center .right h2 {
      font: 800 18px/34px "Microsoft YaHei";
      color: #4c4c4c; }
    .fada-con .center .right h3 {
      font-size: 14px;
      color: #ff6900;
      line-height: 26px;
      border-bottom: 1px solid #e0e0e0;
      padding-bottom: 10px; }
    .fada-con .center .right > p:nth-of-type(1) {
      margin-top: 20px; }
      .fada-con .center .right > p:nth-of-type(1) span {
        color: #fff;
        font-size: 14px;
        background-color: #ff6900;
        line-height: 26px;
        padding: 0 8px;
        margin-right: 10px;
        display: block;
        float: left; }
      .fada-con .center .right > p:nth-of-type(1) i {
        font: 800 26px/26px "Microsoft YaHei";
        color: #ff6900;
        float: left;
        display: block; }
      .fada-con .center .right > p:nth-of-type(1) em {
        font: 800 16px/26px "Microsoft YaHei";
        color: #4c4c4c;
        margin-left: 10px;
        text-decoration: line-through;
        display: block;
        float: left; }
      .fada-con .center .right > p:nth-of-type(1) a {
        border: 1px solid #e7e7e7;
        line-height: 18px;
        color: #4c4c4c;
        padding: 0 10px 0 25px;
        display: block;
        width: 50px;
        height: 20px;
        font-size: 12px;
        float: left;
        margin-left: 30px;
        background: url(../images/xq5.gif) 10px -63px no-repeat; }
      .fada-con .center .right > p:nth-of-type(1) a:hover {
        border: 1px solid #78a000; }
    .fada-con .center .right > p:nth-of-type(2) {
      margin-top: 20px;
      width: 97px;
      height: 26px;
      background: url(../images/xq7.png) 0 0 no-repeat #ff6900;
      padding-left: 28px;
      line-height: 26px;
      text-decoration: none;
      margin-bottom: 20px; }
      .fada-con .center .right > p:nth-of-type(2) a {
        font-size: 14px;
        color: #fff; }
    .fada-con .center .right .xuan {
      border-top: 1px solid #e0e0e0;
      padding-top: 10px;
      color: #4c4c4c;
      font-size: 12px; }
      .fada-con .center .right .xuan > p {
        margin-top: 5px;
        height: 42px;
        line-height: 42px; }
        .fada-con .center .right .xuan > p span {
          margin-left: 10px;
          padding: 5px 15px;
          height: 42px;
          line-height: 42px;
          color: #ccc;
          border: 1px solid #e5e5e5;
          cursor: pointer; }
        .fada-con .center .right .xuan > p span:nth-child(1) {
          margin-left: 40px; }
        .fada-con .center .right .xuan > p span.active {
          cursor: pointer;
          border: 2px solid #90c000;
          padding: 4px 14px;
          color: #626252;
          background: url(../images/xq6.gif) no-repeat 100% 14px; }
      .fada-con .center .right .xuan > div {
        margin-top: 20px; }
        .fada-con .center .right .xuan > div dt {
          width: 75px;
          height: 50px;
          float: left; }
          .fada-con .center .right .xuan > div dt input {
            border: 1px solid #cdcdcd;
            width: 54px;
            height: 48px;
            font: 400 24px/48px "Microsoft YaHei";
            color: #626262;
            text-align: center;
            float: left; }
          .fada-con .center .right .xuan > div dt a {
            float: left;
            width: 19px;
            height: 25px;
            display: block;
            background: url(../images/xq4.png) 0 -52px no-repeat; }
          .fada-con .center .right .xuan > div dt a:nth-of-type(2) {
            background: url(../images/xq4.png) -20px -52px no-repeat; }
        .fada-con .center .right .xuan > div dd > a {
          float: left;
          margin-left: 15px;
          width: 182px;
          height: 52px;
          display: block;
          background: url(../images/xq8.gif) no-repeat; }
        .fada-con .center .right .xuan > div dd > span:nth-of-type(1) {
          float: left;
          height: 52px;
          margin-left: 20px;
          line-height: 52px; }
        .fada-con .center .right .xuan > div dd > span:nth-of-type(2) {
          font: 400 18px/52px "Microsoft YaHei";
          color: #ff6900;
          padding: 0 8px;
          float: left; }
        .fada-con .center .right .xuan > div dd > p {
          float: left;
          height: 52px;
          line-height: 52px; }
          .fada-con .center .right .xuan > div dd > p span {
            padding: 0 5px; }
          .fada-con .center .right .xuan > div dd > p a {
            font-size: 12px;
            color: #4c4c4c; }
          .fada-con .center .right .xuan > div dd > p a:hover {
            color: #ff6900; }
    .fada-con .center .right > p:nth-of-type(3) {
      color: #333;
      font-size: 12px;
      margin-top: 50px; }
      .fada-con .center .right > p:nth-of-type(3) span {
        display: block; }
